version: "3.9"

services:
  server:
    build: ./server
    container_name: fintracker-server
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "3000:3000"

  client:
    build: ./client
    container_name: fintracker-client
    restart: always
    depends_on:
      - server
    ports:
      - "5173:5173"
